replicaCount: 2

image:
  repository: REPLACE_ME
  tag: latest

service:
  type: ClusterIP
  port: 8080

serviceAccount:
  create: true
  annotations: {}
  name: ""

httpRoute:
  enabled: false

ingress:
  enabled: false

autoscaling:
  enabled: false