# Triggering fresh build
replicaCount: 1

image:
  repository: 654654451277.dkr.ecr.ap-south-1.amazonaws.com/go-svc
  tag: 2ea8a4b

service:
  type: ClusterIP
  port: 8080

serviceAccount:
  create: true
  annotations: {}
  name: ""

httpRoute:
  enabled: false

ingress:
  enabled: false

autoscaling:
  enabled: false